@{
    var userRole = Context.Session.GetString("UserRole");
    var isAdmin = userRole == "Admin";
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/img/logo_icon.png")" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>onlinegallery.gr</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/test.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body.loaded #global-loader {
            display: none !important;
        }
    </style>

</head>

 <body>
    <!-- ================ loading ================= -->
    <div id="global-loader" class="d-flex justify-content-center align-items-center"
            style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
            background: url(../img/bg_black.jpg) no-repeat center center;
            background-size: cover; z-index: 9999; display: none;">
        <div class="spinner-border text-info" role="status" style="width: 3rem; height: 3rem;">
        </div>
        <!--<span class="visually-hidden">loading...</span>-->

    </div>
    <!-- ================ navbar ================= -->
    <header class="default-header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container d-flex align-items-center">

                <div class="d-flex align-items-center">
                    <a class="text-secondary navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.png" alt="Logo" />
                    </a>
                    <div class="ms-3">
                        <a class="btn btn-outline-info me-2" asp-area="" asp-controller="Artworks" asp-action="Index">Artworks</a>
                        @if (isAdmin)
                        {
                            <a class="btn btn-info me-2" asp-area="" asp-controller="AdminActions" asp-action="Index">Admin Actions</a>
                        }
                        else
                        {
                            <a class="btn btn-info me-2" asp-area="" asp-controller="Artworks" asp-action="Create">Upload your artwork now</a>
                        }
                    </div>
                </div>

                <div class="ms-auto">
                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        @if (!isAdmin)
                        {
                            <a class="btn btn-outline-info me-2" asp-area="" asp-controller="Users" asp-action="Profile">Profile</a> 
                        }

                        <a class="btn btn-outline-light me-2" asp-controller="Users" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-light me-2" asp-controller="Users" asp-action="Login" role="button">Login/Register</a>
                    }
                </div>

            </div>
        </nav>
    </header>



    <!-- ================================= -->

    <section class="home-banner-area">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="badge badge-dark">© 2025 - GeorgeTsakiris - p20191 </span>
                </div>
                <div class="header_nav d-flex align-items-center">
                    <div class="main_nav">
                        <div class="top_nav d-flex">
                            <ul class="d-flex list-unstyled m-0">
                                <li class="d-flex align-items-center me-3">
                                    <img src="~/img/telephone.png" alt="Telephone" class="me-1" />
                                    <span class="thl-email">210 1234567</span>
                                </li>
                                <li class="d-flex align-items-center">
                                    <img src="~/img/mail.png" alt="Email" class="me-1" />
                                    <span class="thl-email">onlinegallery@gmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
            </footer>
 
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </section>
   

    <!-- ================================= -->

    <script src="~/js/vendor/jquery-2.2.4.min.js"></script>

    <script src="~/js/vendor/bootstrap.min.js"></script>

    <script src="~/js/hexagons.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        let loaderTimeout = setTimeout(() => {
            document.getElementById('global-loader').style.display = 'flex';
        }, 800); // 800ms delay

        window.addEventListener("load", () => {
            clearTimeout(loaderTimeout);
            document.body.classList.add("loaded");
        });
    </script>

</body>

</html>

