@model BanStatusModel

@functions {
    string GetAdminName(int adminId)
    {
        return adminId switch
        {
            24 => "admin1",
            25 => "admin2",
            _ => "unknown_admin"
        };
    }
}

<div class="modal fade" id="historyModal-@Model.User.Id" tabindex="-1" aria-labelledby="historyModalLabel-@Model.User.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historyModalLabel-@Model.User.Id">History for @Model.User.FullName</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date</th>
                            <th>Admin</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var action in Model.History)
                        {
                            <tr>
                                <td>@(action.ActionType == ActionType.Ban ? "Ban" : "Unban")</td>
                                <td>@action.ActionDate.ToString("g")</td>
                                <td>@GetAdminName(action.AdminId)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
