@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<!-- ***************************************************** carousel ****** -->

<div class="row justify-content-center fullscreen align-items-center">
    <div class="col-lg-5 col-md-8 home-banner-left">
        <div id="textCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="text-white">Text text 1</h1>
                    <p class="mx-auto text-white mt-20 mb-40">
                        text text text text text text text text text text text text text  text text text text text text text text text text
                    </p>
                </div>
                <div class="carousel-item">
                    <h1 class="text-white">Text text 2</h1>
                    <p class="mx-auto text-white mt-20 mb-40">
                        text text text text text text text text text text text text text  text text text text text text text text text text
                    </p>
                </div>
                <div class="carousel-item">
                    <h1 class="text-white">Text text 3</h1>
                    <p class="mx-auto text-white mt-20 mb-40">
                        text text text text text text text text text text text text text  text text text text text text text text text text
                    </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#textCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#textCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>

<!-- ************************************************** top artists ****** -->

<section class="py-5">
    <h2 class="text-center mb-2">Top 5 Artists</h2>

    <div class="rounded mb-2" style="background-color: rgba(05,0,0,0.8); width: 100%;">
        <div class="container py-5">
            <div class="row justify-content-center">
                @foreach (var artist in Model.TopArtists)
                {
                    <div class="col-md-2 text-center mx-2 mb-0">
                        <img src="@artist.SampleArtwork?.ImageUrl" class="rounded mb-2"
                             style="width: 170px; height: 170px; object-fit: cover;" />
                        <h5>@artist.Artist.FullName</h5>
                        <p>sales: @artist.SalesCount </p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script src="js/owl.carousel.min.js"></script>
<link rel="stylesheet" href="css/carousel.css" />


