@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<div class="row justify-content-center fullscreen align-items-center">
    <div class="col-lg-5 col-md-8 home-banner-left">
        <div id="textCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h1 class="text-white">Text text 1</h1>
                    <p class="mx-auto text-white mt-20 mb-40">
                        text text text text text text text text text text text text text  text text text text text text text text text text
                    </p>
                </div>
                <div class="carousel-item">
                    <h1 class="text-white">Text text 2</h1>
                    <p class="mx-auto text-white mt-20 mb-40">
                        text text text text text text text text text text text text text  text text text text text text text text text text
                    </p>
                </div>
                <div class="carousel-item">
                    <h1 class="text-white">Text text 3</h1>
                    <p class="mx-auto text-white mt-20 mb-40">
                        text text text text text text text text text text text text text  text text text text text text text text text text
                    </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#textCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#textCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</div>

<script src="js/owl.carousel.min.js"></script>
<link rel="stylesheet" href="css/carousel.css" />


