body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    background: url(../img/bg_black.jpg);
    background-size: cover;
    background-position: center center;
}

footer {
    width: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: #222222; }

h1,
.h1 {
  font-size: 36px; }

h2,
.h2 {
  font-size: 30px; }

h3,
.h3 {
  font-size: 24px; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 16px; }

h6,
.h6 {
  font-size: 14px;
  color: #222222; }

td,
th {
  border-radius: 0px; }


.float-left {
  float: left; }

.float-right {
  float: right; }

.text-italic {
  font-style: italic; }

.text-white {
  color: #fff; }

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.section-full {
  padding: 100px 0; }

.section-half {
  padding: 75px 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-rigth {
  text-align: right; }

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff; }
  .navbar-light .navbar-toggler:focus {
    outline: 0px; }

.default-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* ------------------- navbar ------------------- */

.navbar {
    width: 100%;
    display: flex;
}

.header-scrolled {
    position: fixed;
    left: 0;
    width: 100%;
    /*background: url(../img/bg2.jpg);*/
    background: #0b0b0b;
}
  
/* ----------------- background ----------------- */

.home-banner-area {
   
}

.home-banner-left h1 {
    color: #222;
    font-size: 48px;
    line-height: 1em;
    margin-bottom: 20px;
}

.home-banner-right img {
    margin-right: auto !important;
    margin-left: auto !important;
    display: block;
}