@model OnlineGallery.Models.User

@{
	ViewData["Title"] = "Register - OnlineGallery";
}
<link rel="stylesheet" type="text/css" href="~/css/auth.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style>
	.is-invalid {
	border: 3px solid #dc3545 !important;
	padding-right: 40px;
	position: relative;
}

.input-group {
	position: relative;
	width: 100%;
}

.input-group .error-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-110%);
	font-size: 1.2rem;
	color: #dc3545;
	display: none;
}

.is-invalid + .error-icon {
	display: inline;
}


</style>
<div class="hero_area">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card" style="height:490px;">
				<div class="card-header">
					<h3>Create New Account</h3>
				</div>
				<div class="card-body">
					<form asp-controller="Users" asp-action="Register" method="post" name="register_form" onsubmit="return elegxos()">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input asp-for="FullName" type="text" maxlength="20" name="fullname" class="form-control" placeholder="Full Name">
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input asp-for="Email" type="email" name="email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")"
								   placeholder="Email">

							<span asp-validation-for="Email" class="text-danger w-100" style="margin-top: 5px;"></span>
						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input asp-for="Password" type="password" minlength="8" maxlength="20" pattern=".{8,20}" title="The password must be between 8 and 20 characters long." id="password" name="password" class="form-control" placeholder="Password" required>
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" minlength="8" maxlength="20" pattern=".{8,20}" title="The password must be between 8 and 20 characters long." id="password2" name="password2" class="form-control" placeholder="Confirm Password">
						</div>
						<div class="row align-items-center show">
							<input type="checkbox" onclick="emfanish_kwdikou()">&nbsp;Show Password
						</div>
						<div class="form-group">
							<input type="submit" value="Register" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Already have an account?<a asp-action="Login">Login</a>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function emfanish_kwdikou() //show password
	{
		var x = document.getElementById("password");
		if (x.type === "password") {
			x.type = "text";
		}
		else {
			x.type = "password";
		}
	}

	function elegxos() {
		var fields = ["fullname", "email", "password", "password2"];
		var fieldNames = {
			"fullname": "Full Name",
			"email": "Email",
			"password": "Password",
			"password2": "Confirm Password"
		};

		for (var i = 0; i < fields.length; i++) {
			var field = fields[i];
			var value = document.forms["register_form"][field].value;
			if (value == "") {
				alert("The field " + fieldNames[field] + " cannot be empty.");
				return false;
			}
		}

		// *********************************** restrict unsafe characters ****** //

		var fullNameInput = document.forms["register_form"]["fullname"].value;
		var regex = /^[A-Za-zΑ-Ωα-ωΆ-Ώά-ώ0-9\s]+$/;

		if (!regex.test(fullNameInput)) {
			alert("Full name can only contain letters, numbers and spaces.");
			return false;
		}

		if (document.forms["register_form"]["password"].value != document.forms["register_form"]["password2"].value) {
			alert("Password and Confirm Password do not match.");
			return false;
		}

		return true;
	}

</script>